@font-face {
  font-family: "mainFont";
  src: url("arfonts-boahmed-alhour.ttf");
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

* {
  direction: rtl;
  font-family: mainFont;

  outline: none;
}

button {
  line-height: 100%;
  padding: 5px;
  border: 2px solid green;
  border-radius: 7px;
  width: 200px;
  height: 70px;
}

.answer-figure {
  width: 150px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.answer-figure div {
  width: 150px;
  height: 150px;
  background-image: url('src/img/cow-sitting.png');
  background-size: contain;
  transition: background-image 0.5s ease-in-out;
}

.answer-yes-figure:hover div {
  background-image: url('src/img/cow-standing.png'); 
}

.answer-no-figure:hover div {
  background-image: url('src/img/angry-cow-walking.png'); 
}

.answer-no-figure:hover {
  position: absolute;
  left: 30px;
  top: 100px;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-center-hv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  color: red;
}

figcaption {
  font-size: 28px;
}

.main {
  height: 98%;
}

#question {
  font-size: 72px;
}

